
<!-- conteudo do site -->

<input type="hidden" #selection>

<div class="card-container">
<h1>Pagina de noticias</h1>
</div>

<div class="card-container2">

  <div class="card5" (click)="openNews()">
    <span><h3>Quinto titulo</h3>
      <img class= "img-card" src="../assets//img_conteudo2.png">
       <h4>Assunto do dia</h4>
      
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p></span>
  </div>

  <div class="card6" (click)="openNews()">
    <span><h3>Sexto titulo</h3>
      <img class= "img-card2" src="../assets//img_conteudo2.png">
       <h4>Assunto do dia</h4>
      
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p></span>
  </div>

</div>

