
<!-- conteudo do site -->

<input type="hidden" #selection>

<div class="card-container">

  <div class="card1" (click)="openNews()">
    <span><h3>Primeiro titulo</h3>
      <img class= "img-card" src="https://thumbs2.imgbox.com/37/be/cN3BoFsp_t.jpg" alt="image host"/>
       <h4>Assunto do dia</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p></span>
  </div>

  <div class="card1" (click)="openNews()">
    <span><h3>Segundo titulo</h3>
      <img class= "img-card" src="https://thumbs2.imgbox.com/37/be/cN3BoFsp_t.jpg">
       <h4>Assunto do dia</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p></span>
  </div>

  <div class="card1" (click)="openNews()">
    <span><h3>Terceiro titulo</h3>
      <img class= "img-card" src="https://thumbs2.imgbox.com/37/be/cN3BoFsp_t.jpg">
       <h4>Assunto do dia</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p></span>
  </div>

  <div class="card1" (click)="openNews()">
    <span><h3>Quarto titulo</h3>
      <img class= "img-card" src="https://thumbs2.imgbox.com/37/be/cN3BoFsp_t.jpg">
       <h4>Assunto do dia</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p></span>
  </div>

</div>

<div class="card-container2">

  <div class="card5" (click)="openNews()">
    <span><h3>Quinto titulo</h3>
      <img class= "img-card" src="https://thumbs2.imgbox.com/da/7d/r7c0QmuE_t.jpg">
       <h4>Assunto do dia</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p></span>
  </div>

  <div class="card6" (click)="openNews()">
    <span><h3>Sexto titulo</h3>
      <img class= "img-card2" src="https://thumbs2.imgbox.com/da/7d/r7c0QmuE_t.jpg">
       <h4>Assunto do dia</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p></span>
  </div>

</div>

